@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/* 
Primary: #397367 
Secondary: #5DA399
Tertiary: #FFFFFF

Black 01: #252525
Black 02: #35393C
*/

:root {
   --prim: #397367;
   --seco: #5DA399;
   --tert: #FFFFFF;
   --B01: #252525;
   --B02: #35393C;
}