.about-us-container {
  background-color: #397367;
  color: #ffffff;
  padding: 6rem 2rem;
  text-align: center;
}

.section-title {
  color: #fff;
  font-size: 2.6rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #5da399;
  letter-spacing: 2px;
}

.section-text {
  font-size: 1.4rem;
  line-height: 2rem;
}

.team-members {
  margin-top: 4rem;
}

.team-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.team-card {
  background-color: #5da399;
  color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}

.team-card h3 {
  margin-bottom: 0.5rem;
}