.contact-container {
   width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   overflow-x: hidden;
   align-items: center;
}

.contact-background {
   width: 100%;
   height: 465px;
   position: relative;
   left: 100px;
}

.contact-green-box {
   width: 730px;
   height: 249px;
   left: 299px;
   top: 108px;
   position: absolute;
   background: #397367;
   border-radius: 10px;
}

.contact-text {
   width: 225px;
   left: 357px;
   top: 204px;
   position: absolute;
   text-align: center;
   color: white;
   font-size: 24px;
   font-family: Montserrat;
   font-weight: 700;
   word-wrap: break-word;
}

.contact-rotated-border {
   width: 200px;
   height: 0;
   left: 630px;
   top: 135px;
   position: absolute;
   transform: rotate(90deg);
   transform-origin: 0 0;
   border: 1px white solid;
}

.contact-email-input {
   width: 308px;
   height: 33px;
   left: 652px;
   top: 155px;
   position: absolute;
}

.contact-msg-input {
   width: 308px;
   height: 89px;
   left: 652px;
   top: 200px;
   position: absolute;
   margin-top: .8rem;
}

.contact-send-btn {
   width: 89px;
   height: 20px;
   left: 764px;
   top: 316px;
   position: absolute;
}

.contact-send-btn-container {
   border: none;
   width: 89px;
   height: 20px;
   left: 0;
   top: 0;
   position: absolute;
   background: white;
   border-radius: 4px;
   cursor: pointer;
}

.contact-send-text {
   left: 21px;
   top: 0;
   position: absolute;
   color: #35393C;
   font-size: 16px;
   font-family: Montserrat;
   font-weight: 600;
   word-wrap: break-word;
   cursor: pointer;
}

.contact-email-container::placeholder,
.contact-msg::placeholder {
   color: white;
}

.contact-email-container {
   width: 100%;
   height: 100%;
   padding: .4rem;
   border: 1px solid white;
   background: transparent;
   font-size: 14px;
   font-family: Montserrat;
   font-weight: 400;
   color: white;
   outline: none;
}

.contact-msg {
   width: 100%;
   height: 90%;
   padding: .4rem;
   border: 1px solid white;
   background: transparent;
   font-size: 14px;
   font-family: Montserrat;
   font-weight: 400;
   color: white;
   outline: none;
   resize: none;
}

.faq-contact-container {
   width: 100%;
   height: 100%;
   position: relative;
   display: flex;
   justify-content: center;
   overflow-x: hidden;
   align-items: center;
}

.faq-contact-background {
   width: 100%;
   height: 405px;
   position: relative;
   left: 100px;
}

.faq-contact-green-box {
   width: 730px;
   height: 249px;
   left: 299px;
   top: 108px;
   position: absolute;
   background: #fff;
   border-radius: 10px;
}

.faq-contact-text {
   width: 225px;
   left: 357px;
   top: 185px;
   position: absolute;
   text-align: center;
   color: black;
   font-size: 24px;
   font-family: Montserrat;
   font-weight: 700;
   word-wrap: break-word;
}

.faq-contact-rotated-border {
   width: 200px;
   height: 0;
   left: 630px;
   top: 135px;
   position: absolute;
   transform: rotate(90deg);
   transform-origin: 0 0;
   border: 1px black solid;
}

.faq-contact-email-input {
   width: 308px;
   height: 33px;
   left: 652px;
   top: 155px;
   position: absolute;
}

.faq-contact-msg-input {
   width: 308px;
   height: 89px;
   left: 652px;
   top: 200px;
   position: absolute;
   margin-top: .8rem;
}

.faq-contact-send-btn {
   width: 89px;
   height: 20px;
   left: 764px;
   top: 316px;
   position: absolute;
}

.faq-contact-send-btn-container {
   border: none;
   width: 89px;
   height: 20px;
   left: 0;
   top: 0;
   position: absolute;
   background: var(--prim);
   border-radius: 4px;
   cursor: pointer;
}

.faq-contact-send-text {
   left: 21px;
   top: 0;
   position: absolute;
   color: #fff;
   font-size: 16px;
   font-family: Montserrat;
   font-weight: 600;
   word-wrap: break-word;
   cursor: pointer;
}

.faq-contact-email-container::placeholder,
.faq-contact-msg::placeholder {
   color: black;
}

.faq-contact-email-container {
   width: 100%;
   height: 100%;
   padding: .4rem;
   border: 1px solid black;
   background: transparent;
   font-size: 14px;
   font-family: Montserrat;
   font-weight: 400;
   color: black;
   outline: none;
}

.faq-contact-msg {
   width: 100%;
   height: 90%;
   padding: .4rem;
   border: 1px solid black;
   background: transparent;
   font-size: 14px;
   font-family: Montserrat;
   font-weight: 400;
   color: black;
   outline: none;
   resize: none;
}