.navbar {
   background-color:whitesmoke;
   height: 64px;
   display: flex;
   align-items: center;
   margin: 0rem;
   padding: 0rem;
   display: flex;
   justify-content: center;
}

.navbar ul li img {
   height: 2.6rem;
}

.navbar ul {
   display: flex;
   align-items: center;
   padding-right: 15px;
}

.navbar ul li {
   color: black;
   padding: 5px 10px;
   list-style-type: none;
   margin: 12px;
}

.navbar a {
   text-decoration: none;
   color: black;
}

#home-create-post {
   border: none;
   padding: 0.4rem;
   border-radius: .2rem;
   color-scheme: black;
   color: white;
   background-color: #397367;
   cursor: pointer;
}

#home-create-post:hover {
   color: white;
   background-color: #397367c8;
}

.home-user-login,
.home-user-logout {
   border: none;
   padding: 0.4rem;
   border-radius: .2rem;
   color-scheme: black;
   color: black;
   cursor: pointer;
}

.home-user-logout-container {
   position: relative;
   cursor: pointer;
}

.home-user-logout {
   position: absolute;
   top: 2.5rem;
   right: 0.1rem;
}

.home-username {
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar-user-icon {
   margin-right: 0.6rem;
}