.post-page-footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* .post-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.post-page-content {
    width: 100%;
    margin-bottom: 100px;
}

@media (768px <=width <=1200px) {
    .post-page-content {
        width: 100%;
        padding: 0.5rem;
    }
}