.comm-container {
   border: none;
   border-radius: .4rem;
   background-color: #fff;
   padding: .4rem;
}

.comm-content-container {
   background-color: #fff;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.comm-content {
   padding: 1rem;
   font-size: 1.2rem;
   width: 100%;
}

.comm-content > textarea {
   outline: none;
   border-radius: .4rem;
   border: .3rem solid black;
   height: 3rem;
   width: 100%;
   resize: none;
}

.comm-post-btn {
   background-color: #397367;
   color: #fff;
   border: none;
   border-radius: .3rem;
   padding-left: 2rem;
   padding-right: 2rem;
   padding-top: .6rem;
   padding-bottom: .6rem;
   cursor: pointer;
}

.comm-postBtn-container {
   margin-right: 2rem;
}